<!DOCTYPE html>
<html lang="zh-CH">
<head>
    <meta charset="UTF-8">
    <title>京东</title>
    <link rel="stylesheet" href="/static/css/style_cart.css">
</head>
<body>
<div class="header">
    <div class="w">
      <ul class="addr">
        <li>东莞</li>
        </ul>
      <ul class="top-nav">
          <li class="red">你好</li>
          <li><a href="/web/login">请登陆 免费注册</a></li>
          <li>我的订单</li>
          <li>我的京东</li>
          <li>京东会员</li>
          <li>企业导购</li>
          <li>客户服务</li>
          <li>网站导航</li>
        </ul>
    </div>
    <div class="login">
        <div class="logo"><img src="/static/image/login_logo.png"></div>
        <div class="title">购物车</div>
    </div>
</div>
<div class="main">
    <div class="w">
        <div class="kong">
            <div class="messge"><b></b></div>
            <div class="content">购物车内暂时没有商品，登录后将显示您之前加入的商品
                <br><a href="/web/login">登录</a> <a href="/web/index">去购物></a>
            </div>
        </div>
    </div>

</div>


</body>
</html>