<!DOCTYPE html>
<html lang="zh-CH">
<head>
    <meta charset="UTF-8">
    <title>京东</title>
    <link rel="stylesheet" href="/static/css/style_index.css">
</head>
<body>
<div class="header">
    <div class="w">
          <ul class="addr">
            <li>东莞</li>
            </ul>
          <ul class="top-nav">
              <li class="red">你好</li>
              <li><a href="/web/login">请登陆 免费注册</a></li>
              <li>我的订单</li>
              <li>我的京东</li>
              <li>京东会员</li>
              <li>企业导购</li>
              <li>客户服务</li>
              <li>网站导航</li>
            </ul>
        </div>
</div>
<div class="main">
    <div class="w">
        <div class="logo">
            <img src="/static/image/logo.png" width="100%">
        </div>
        <div class="search">
            <div>
                <form>
                    <input type="text" name="search" class="searchinp">
                    <input type="submit" class="sousuo" value="产品搜索" >
                </form>

            </div>
            <div>
                <ul class="hot">
                    <li>一元专享</li>
                    <li>爆款2免1</li>
                    <li>农用物资</li>
                    <li>MacBook pro</li>
                    <li>绿茶</li>
                    <li>绿茶</li>
                    <li>绿茶</li>
                    <li>绿茶</li>
                    <li>绿茶</li>
                    <li>绿茶</li>
                </ul>
            </div>
        </div>
        <div class="car">我的购物车</div>
    </div>
    <div class="h">
        <div class="left">
            <ul>
                <li>家用电器</li>
                <li>手机/运营商/数码</li>
                <li>电脑办公</li>
                <li>家居/家具/家装/厨具</li>
                <li>男装/女装/童装/内衣</li>
                <li>个护化妆/清洁用品/宠物</li>
                <li>鞋靴/箱包/珠宝/奢侈品</li>
                <li>运动/户外/钟表</li>
                <li>汽车/汽车用品</li>
                <li>个护化妆/清洁用品/宠物</li>
                <li>鞋靴/箱包/珠宝/奢侈品</li>
                <li>运动/户外/钟表</li>
                <li>汽车/汽车用品</li>
            </ul>
        </div>
        <div class="center">
            <div class="nav">
                <ul>
                    <li>秒杀</li>
                    <li>优惠券</li>
                    <li>闪购</li>
                    <li>拍卖</li>
                    <li>服装城</li>
                    <li>京东超市</li>
                    <li>生鲜</li>
                    <li>全球购买</li>
                    <li>京东金融</li>
                </ul>
            </div>
            <div class="lunbo">
                <img src="/static/image/lb1.jpg" width="100%">
            </div>
            <div>
                <div class="ad1"><img src="/static/image/ad1.jpg" width="100%"></div>
                <div class="ad2"><img src="/static/image/ad2.jpg" width="100%"></div>
            </div>
        </div>
        <div class="right">
            <div class="active"><img src="/static/image/1208.jpg"></div>
            <div class="user">
                <div>
                    <div class="logo"><img src="/static/image/no_login.jpg"></div>
                    <div class="username">
                        <p>Hi,12345678</p>
                        <p>登录 注册</p>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="fuli">
                    <p>新人福利</p>
                    <p>PLUS会员</p>
                </div>
            </div>
            <div class="gonggao">
                <p>公告</p>
                <ul>
                    <li>购金典，赢王菲演唱会门票</li>
                    <li>平板电脑爆品最高直降2000</li>
                    <li>企业采购 最高直降500！</li>
                    <li>东北地区因强降雪配送延迟</li>
                </ul>
            </div>
            <div class="gongju">
                <ul>
                    <li>话费</li>
                    <li>机票</li>
                    <li>电影票</li>
                    <li style="border-right: none">游戏</li>
                    <li>企业购</li>
                    <li>加油卡</li>
                    <li>酒店</li>
                    <li style="border-right: none">火车票</li>
                    <li>众筹</li>
                    <li>理财</li>
                    <li>礼品卡</li>
                    <li style="border-right: none">白条</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ms">
        <div class="mshd">
            <div class="icon"></div>
            <h3>京东秒杀</h3>
            <small>总有你想不到的低价</small>
        </div>
        <div class="msproduct">
            <ul >
                <li>
                    <div>
                        <img src="/static/image/p1.jpg">
                        <p>华为（HUAWEI）荣耀手环zero 经典黑短 (智能运动健康手环手</p>
                        <span>&yen;299.99</span> <del>&yen;399.99</del>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="/static/image/p1.jpg">
                        <p>华为（HUAWEI）荣耀手环zero 经典黑短 (智能运动健康手环手</p>
                        <span>&yen;299.99</span> <del>&yen;399.99</del>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="/static/image/p1.jpg">
                        <p>华为（HUAWEI）荣耀手环zero 经典黑短 (智能运动健康手环手</p>
                        <span>&yen;299.99</span> <del>&yen;399.99</del>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="/static/image/p1.jpg">
                        <p>华为（HUAWEI）荣耀手环zero 经典黑短 (智能运动健康手环手</p>
                        <span>&yen;299.99</span> <del>&yen;399.99</del>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="/static/image/p1.jpg">
                        <p>华为（HUAWEI）荣耀手环zero 经典黑短 (智能运动健康手环手</p>
                        <span>&yen;299.99</span> <del>&yen;399.99</del>
                    </div>
                </li>
                <li style="border-right: none">
                    <div>
                        <img src="/static/image/p1.jpg">
                        <p>华为（HUAWEI）荣耀手环zero 经典黑短 (智能运动健康手环手</p>
                        <span>&yen;299.99</span> <del>&yen;399.99</del>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="faxian">
        <div class="fxhh">
            <div class="fxheader">
                <h3>发现好货</h3>
            </div>
            <div class="fxlist">
                <ul>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                </ul>
            </div>
        </div>
        <div class="pptt">
            <div class="fxheader">
                <h3>品牌头条</h3>
            </div>
            <div class="fxlist">
                <ul>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                </ul>
            </div>
        </div>
        <div class="phb">
            <div class="fxheader">
                <h3>排行榜</h3>
            </div>
            <div class="fxlist">
                <ul>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                    <li><img src="/static/image/p3.png" width="100%"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="mo_li">
        <ul>
            <li><i class="f1"></i><h5>品类齐全，轻松购物</h5></li>
            <li><i class="f2"></i><h5>多仓直发，极速配送</h5></li>
            <li><i class="f3"></i><h5>正品行货，精致服务</h5></li>
            <li><i class="f4"></i><h5>天天低价，畅选无忧</h5></li>
        </ul>
    </div>
    <div style="clear: both; "></div>
    <hr>
    <div class="copy">
        京东.com
    </div>
</div>


</body>
</html>