body{
    margin: 0;
    padding: 0;
}
input[type='text']{
    margin: 0;
    padding: 0;
    height: 20px;
    width: 100%;
}
input[type='button']{
    /*width: 80px;*/
    border-style: none;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    /*text-shadow:1px 1px 1px #333;*/
    border-radius: 3px;

    margin: 2px 15px 2px 2px;
    position: relative;
    /*overflow: hidden;*/
    background-color: #2e828b;

}
#main{
margin: 10px 0 0 10px;
}
table{
    font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
    border: 1px #666666;
    border-collapse: collapse;
}
table thead{
    background-color: #dddddd;
}
table thead tr th{
    padding: 8px;
    border: 1px solid #666666;
    background-color: #dedede;
}

table tbody tr td{
    padding: 8px;
    border: 1px solid #666666;
    background-color: #ffffff;
}