{% extends 'layout.html' %}

{% block body %}
    <table>
        {% for item in assets_list %}
            <tr>
                <td>{{ item.hostname }}</td>
                <td>{{ item.port }}</td>
            </tr>
        {% endfor %}
    </table>

    {% include 'son.html' %}
    {% include 'son.html' %}
    {% include 'son.html' %}
    {% include 'son.html' %}
    {% include 'son.html' %}
    {% include 'son.html' %}
    <h3></h3>

{% endblock %}

{% block js %}
    <script>
        document.getElementById('assets').className = 'active';
    </script>
{% endblock %}
